# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv
.env

# Build artifacts
build/
dist/
*.egg-info/

# IDEs and editors
.idea/
.vscode/

# OS specific
.DS_Store
Thumbs.db

# Fly.io specific
fly.toml
.fly/

# Cache
.cache/
*~/.cache/osam* 